<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">

    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- this shows the custom notification that was created using toastr, it replaced the notifications given by devise and uses JS instead.  -->
      <%= render 'shared/devisemes' %>

      <div class="form-group">
        <%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>
        <!-- this was in password and remember_me, I think it gets rid of the name for the space and instead in replaced by the placeholder, which is the name in the space where text is written. It looks cleaner that way f.label :password<br /> -->
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", :class => "btn btn-primary" %>
        <%= link_to "Forgot Password", new_user_password_path, :class => "btn btn-primary" %>
      </div>
    <% end %>

    <br><%= link_to "Sign In with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
    <br>
    <br><%= link_to "Sign In with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary" %>
  </div>
</div>



<!-- he got rid of this link because... -->
<!-- # #render "devise/shared/links" -->
